<VirtualHost *:80>
    ServerAdmin admin@example.com
    ServerName ines.example.com
    DocumentRoot /var/www/html/ines.example.com
    ErrorLog /var/log/ines.example.com-error_log
    CustomLog /var/log/ines.example.com-access_log common
    ServerAlias www.ines.example.com



</VirtualHost>

